* {
    margin: 0;                     
    padding: 0;
    box-sizing: border-box;
               
}

body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif ;
}

.contenido__pagina{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.encabezado {
    width: 100%;
    height: 40%;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; 
    background-image: linear-gradient(to right bottom, #e0d9d1 15%, #9285a5 85%);
}

.encabezado h1 {
    font-size: 2.3em;
    font-weight: 500;
    color: #6c4583;
    margin: 0;
    padding-left: 3%;
}

.encabezado p { 
    font-size: 1.1em;
    font-weight: 400; 
    padding-top: 1%; 
    padding-left: 3%;  
    color: #6c4583;             
}  

.menu {   
    width: 100%;
    height: auto;
    min-height: 60%;
    padding-bottom: 3%;
    padding-top: 3%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 5vw 0px 7vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    color: #362d3d;
    width: 60vw;
    max-width: 1400px;
    height: 100%;
    padding: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #f3ece8;                            
    box-shadow: 2px 1px 5px 0px rgba(10, 9, 9, 0.849);
    border: 2px solid #7b6e80;                              
    border-radius: 10px;
    cursor: pointer;
}

summary:hover {
    background-color: #ccc2d8;   
    transform: scale(1.03, 1.03);  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 2%;
  }

.grid-container img {
    width: 100%;
    height: 100px; 
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s; 
}

.grid-container img:hover {
    transform: scale(2.0); 
}

@media screen and (max-width: 767px){
    summary {
        width: 80vw;
    }
} 

@media screen and (max-width: 480px){
    summary {
        width: 95vw;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); 
        grid-gap: 2%;
    }
    .grid-container img {
        width: 90%;
        height: auto;                                
        transition: transform 0.3s; 
        padding-top: 1%;
    }
    .grid-container img:hover {
        transform: scale(1); 
    }
}

