* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.encabezado {
    margin: 0;
    width: 100%;
    height: 400px;
    display: flex;
    background-image: linear-gradient(to right bottom, #d2bea9 10%, #F1ECF8 95%);
}

.contenedor--p {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.encabezado h1 {
    position: relative;
    font-size: 2.5em;
    font-weight: 700;
    color: #4e5283;
    margin: 0;
    padding-left: 20px;
}

.encabezado p {
    width: 600px;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 400;
    padding: 20px 20px 0px 20px;
    color: #4e5283;
}

.encabezado__div--img {
    position: relative;
    right: 15px;
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100%;
    /* Altura del contenedor */
    overflow: hidden;
    /* Ocultar partes de la imagen que sobrepasan el contenedor */
}

.encabezado>div>img {
    position: absolute;
    right: 0;
    width: 80%;
    height: 110%;
    object-fit: fill;
    min-width: 600px;
    max-width: 600px;
}

.menu {
    width: 100%;
    height: auto;
    min-height: 60%;
    margin: 8vw 0px 3vw;

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 5vw 0px 7vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    color: #4e5283;
    width: 60vw;
    max-width: 1500px;
    height: 50px;
    padding: 10px;
    margin-top: 1.5%;
    background-color: #ffff;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid #baa4df;
    border-radius: 10px;
    cursor: pointer;
}

summary:hover {
    background-color: #F1ECF8;
    transform: scale(1.01, 1.01);
}

summary span {
    margin-right: 5px;
    color: #4e5283;
}

.menu__fondo {
    margin: 0px 10px 0px;
    border-radius: 0px 0px 20px 20px;
    background-image: linear-gradient(135deg, rgba(186, 164, 223, 0.3), rgba(255, 212, 207, 0.3));
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 3%;
    padding: 25px 30px 30px;

}

.grid-container img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
    margin: 10% 0% 10%;
}

.grid-container img:hover {
    transform: scale(2.0);
}

/*Tipo de Cambio*/
.contenedor__boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
#boton-tipo-cambio{
    padding: 10px;
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #4E5283;
    border-radius: 15px;
    background-color: #d2bea9;
    cursor:pointer;

}
#boton-tipo-cambio:hover{
transform: scale(1.02, 1.02);
}

.contenedor__tipo-cambio {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}

.contenedor__tipo-cambio span {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #AA9FB1;
    border-radius: 15px;
}

.contenedor__tipo-cambio h3 {
    width: 300px;
    text-align: center;
    padding: 10px;
}

.contenedor__tipo-cambio h3, .contenedor__tipo-cambio p {
    font-size: 1em;
    color: #4e5283;
}
.contenedor__tipo-cambio p{
    padding-bottom: 10px;
}

@media(max-width: 1300px) {
    .encabezado {
        height: 300px;
    }

    .encabezado__div--img {
        display: none;
    }

    .encabezado__div--img img {
        width: 100%;
        height: 100%;
    }

    .contenedor--p {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 767px) {

    .encabezado {
        height: 300px;
    }

    .encabezado__div--img {
        display: none;
    }

    .contenedor--p p {
        width: auto;
    }

    summary {
        width: 80vw;
    }
}

@media screen and (max-width: 480px) {
    .encabezado {
        height: 200px;
    }
    .menu {
        margin: 10vw 0px 10vw;
    }

    summary {
        width: 95vw;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 2%;
    }

    .grid-container img {
        width: 90%;
        height: auto;
        transition: transform 0.3s;
        padding-top: 1%;
    }

    .grid-container img:hover {
        transform: scale(1);
    }
}
