/* Paleta de Colores  #688EA6 #EBF0F2 #6A732C #403E3B #0D0D0D */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del carrusel */
.carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding-bottom: 10px;
  background-image: linear-gradient(to right bottom, #d2bea9 10%, #F1ECF8 95%);
}

.imagenes__carrusel {
  display: flex;
  height: 25em;
  width: 1100px;
  transition: margin-left 1s ease; 
  overflow: hidden;
  box-shadow: 0 2px 10px -3px rgba(0 0 0/ 60%);
  border-radius: 0 0 15px 15px;
}

.imagenes__carrusel img{
  height: 25em;
  width: 1100px;
  object-fit: cover;
  transition: transform 0.5s ease; 
}


.puntos {
  display: flex;
  bottom: 1em;
  gap: 3em;

}

.punto {
  width: 2em;
  height: 2em;
  list-style-type: none;
  background-color: #d2bea9;
  border-radius: 100%;
  box-shadow: 0 2px 10px -3px rgba(0 0 0/ 60%);
  cursor: pointer;
  transition: all 0.4s ease;
  margin-bottom: .5em;
}

.punto.activo {
  background-color: #7871aa;
}

/*Estilos para main*/
h3 {
  color: #4E5283;
  text-align: center;
  margin-top: 2%;
  font-family: 'Noto Sans', sans-serif;
}

.contenedor__opiniones {
  position: relative;
  margin: 2% 5%;
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.op {
  height: auto;
  width: 45%;
  margin: 2.5%;
  padding: 2.5%;
  border-radius: 5px;
  box-shadow: 0 5px 20px 1px rgba(0 0 0/ 40%);
  color: #4e5283af;
}

.op p {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

i {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .carrousel {
    height: 300px;
  }
.imagenes__carrusel {
  height: 300px;
  width: 400px;
}
.imagenes__carrusel img {
  height: 300px;
  width: 400px;
}
}
@media screen and (max-width: 375px) {
  .carrousel {
    height: 200px;
    padding-bottom: 5%;
  }
  .imagenes__carrusel {
    height: 200px;
    width: 300px;
  }
  .imagenes__carrusel img {
    height: 200px;
    width: 300px;
  }
  h3 {
    margin-top: 0%;
  }


  .op {
    height: auto;
    width: 100%;
    margin-bottom: 2%;
  }
}