*{
    margin:0;
    padding: 0;
}
header {
    position: sticky;
    top: 0;
    height: 120px;
    background-color: #4E5283;
}
nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

.lista--menu {
    display: flex;
    justify-self: center;
    list-style: none;
    height: 100%;
}
#cerrar, #abrir{
    display: none;
    cursor: pointer;
}
.lista__item {
    height: 100%;
}

.lista__item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 100%;
    background-color: #4E5283;
    transform: skew(-10deg);
    text-decoration: none;
    color: #d9bbf9;
    font-size: 1em;
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 1.2px;
    transition: all .5s ease-out;
}

.lista__item>a:hover {
    background-color: #7871AA;
    letter-spacing: 1.8px;
}

.lista__item__logo {
    background-color: #AA9FB1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 130px;
    transform: skew(-10deg);
}

.lista__item__logo>a>img {
    height: 95px;
    animation-name: rubberBand;
    animation-play-state: paused;
}

.lista__item__logo__p {
    color: #4E5283;
    font-family: 'Bebas Neue', monospace;
    font-size: 1.1em;
    animation-name: rubberBand;
    animation-play-state: paused
}

.lista__item__logo:hover img,
.lista__item__logo:hover p {
    transform: skew(10deg);
    animation-timing-function: ease-out;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.logo__movil {
    display: none;
}

@media (max-width: 767px) {
    header {
        height: 80px;
    }

    
    .lista__item__logo {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
    }
    
    .lista--menu {
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
        position: fixed;
        flex-direction: column;
        background-color: #0d0d0d;
        opacity: .9;
    }
    #abrir {
        display: inline;
        position: absolute;
        top:30px;
        right: 1em;
        color: #D9BBF9;
    }
    
    #cerrar{
        display:flex;
        align-self: flex-end;
        position: absolute;
        top: 30px;
        right: 1em;
        border:none;
        color: #D9BBF9;
        background-color: #0d0d0d;
        opacity: 1;
    }
    .lista--menu__visible{
        visibility: visible;
        transform: translateX(0%);
        transition: transform 0.5s ease-out;
        opacity: .9;
    }
    .ocultar-boton{
        visibility: hidden;
    }

    .lista__item {
        position: relative;
        top: 80px;
        height: auto;
        transform: skew(10deg);
    }

    .lista__item>a {
        background-color: #0d0d0d;
        width: 100%;
        height: 80px;
    }

    .logo__movil {
        transform: skew(-10deg);
        position: absolute;
        left: 5px;
        display: inline-flex;
        align-items: center;
    }

    .logo__movil img {
        height: 80px;
    }
    .logo__movil p{
        margin-left: 10px;
        margin-bottom: 25px;
        color: #D9BBF9;
        font-size: 1.1em;
        font-family: 'Bebas Neue', monospace;
        font-weight: 300;
        letter-spacing: .2em;
        text-decoration: none;
    }

    .logo__movil p:nth-child(3){
        position: absolute;
        left: 67px;
        top: 45px;
        font-size: .6em;
        letter-spacing: .1em;
    } 

}